<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
      <div class="header-left"></div>
      <h1>Edit Task</h1>
      <div class="header-right"></div>
    </header>
    
    <main>
        <form action="/update/<%= task.id %>" method="POST" class="edit-task-form">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" value="<%= task.title %>" required>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select id="status" name="status">
                    <option value="to-do" <%= task.status === 'to-do' ? 'selected' : '' %>>To Do</option>
                    <option value="in-progress" <%= task.status === 'in-progress' ? 'selected' : '' %>>In Progress</option>
                    <option value="done" <%= task.status === 'done' ? 'selected' : '' %>>Done</option>
                </select>
            </div>
            <button type="submit" class="update-btn">Update Task</button>
        </form>
    </main>
    <a href="/" class="back-btn">← Back</a>


    <footer>
        <!-- <a href="/" class="footer-back-btn">← Back to Task List</a> -->
    </footer>
</body>
</html>
